$bz-edit-icon-width: 7vw;
$bz-edit-icon-height: 7vw;

$bz-edit-icon-backgroundcolor: blueviolet;
$bz-edit-icon-backgroundcolor-active: black;
$bz-edit-icon-textcolor: white;
$bz-edit-icon-backgroundimageurl: "/bzadminassets/images/edit2.svg";
$bz-edit-icon-shaftwidth: 5px;
$bz-edit-icon-duration: 0.3s;

#bz-admin-icon {
  position: fixed;
  left: 25px;
  top: 25px;
  z-index: 999999999999;
  background-color: $bz-edit-icon-backgroundcolor;
  width: $bz-edit-icon-width;
  height: $bz-edit-icon-height;
  border-radius: 50%;
  color: $bz-edit-icon-textcolor;
  box-shadow: 1px 1px 5px gray;
  transition: transform $bz-edit-icon-duration,
    box-shadow $bz-edit-icon-duration, background-color $bz-edit-icon-duration;
  border: 2px solid white;
  &:before {
    content: " ";
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    // background: black;
    background: url($bz-edit-icon-backgroundimageurl);
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover {
    transform: translateY(-2px);
    box-shadow: 5px 5px 9px gray;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .main-menu-shaft {
    position: absolute;
    background-color: inherit;
    top: 50%;
    padding-top: $bz-edit-icon-height/2 + 2vw;
    left: calc(50% - 2.5px);
    // height: 150px;
    width: $bz-edit-icon-shaftwidth;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: transform $bz-edit-icon-duration $bz-edit-icon-duration;
    overflow: visible;
    .menu {
      position: relative;
      background-color: inherit;
      transform: scaleX(0);
      width: max-content;
      transform-origin: 0 0;
      border-radius: 5px;
      transition: transform $bz-edit-icon-duration;
    }
  }
  &.visible {
    transform: translateY(-2px);
    box-shadow: 2px 2px 3px black;
    transition: transform $bz-edit-icon-duration,
      box-shadow $bz-edit-icon-duration;

    .main-menu-shaft {
      transform: scaleY(1);
      transition: transform $bz-edit-icon-duration;
      .menu {
        transform: scaleX(1);
        transition: transform $bz-edit-icon-duration $bz-edit-icon-duration;
      }
    }
  }
  .bzlist {
    margin: 0;
    list-style-type: none;
    padding: 0px;
    min-width: 50px;
    background-color: inherit;
    border-radius: 5px;
    .bzlistitm {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      &:hover,
      &.active {
        color: #2525b4;
        font-weight: 600;
        text-shadow: 0 2px 3px gray;
      }
      &:after {
        content: "\2713 ";
        opacity: 0;
      }
      &.active {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  .link-editor-shaft {
    position: absolute;
    background-color: inherit;
    left: 50%;
    padding-left: calc(#{$bz-edit-icon-height/2} + 120px);
    top: calc(50% - 2.5px);
    // height: 150px;
    height: $bz-edit-icon-shaftwidth;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform $bz-edit-icon-duration $bz-edit-icon-duration;
    overflow: visible;
    .inputcontainer {
      padding: 15px;
      display: flex;
      flex-direction: column;

      position: relative;
      background-color: inherit;
      transform: scaleY(0);
      width: max-content;
      height: max-content;
      transform-origin: 0 0;
      border-radius: 5px;
      transition: transform $bz-edit-icon-duration;
      .linkhref {
        font-size: 14px;
        color: black;
      }
      .linklabel {
        font-size: 10px;
      }
      .bzbuttons {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
      }
    }
    &.visible {
      transform: scaleX(1);
      transition: transform $bz-edit-icon-duration;
      .inputcontainer {
        transform: scaleY(1);
        transition: transform $bz-edit-icon-duration $bz-edit-icon-duration;
      }
    }
  }

  .image-editor-shaft {
    position: absolute;
    background-color: inherit;
    left: 50%;
    padding-left: calc(#{$bz-edit-icon-height/2} + 120px);
    top: calc(50% - 2.5px);
    // height: 150px;
    height: $bz-edit-icon-shaftwidth;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform $bz-edit-icon-duration $bz-edit-icon-duration;
    overflow: visible;
    .image-editor-container {
      padding: 15px;
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: inherit;
      transform: scaleY(0);
      width: max-content;
      height: max-content;
      max-height: 555px;
      overflow: auto;
      transform-origin: 0 0;
      border-radius: 5px;
      transition: transform $bz-edit-icon-duration;
      .image-edit-row {
        display: flex;
        justify-content: space-between;
        min-height: 130px;
        margin-bottom: 15px;
        &:not(:last-of-type) {
          border-bottom: 1px solid white;
        }
        .bz-image-container {
          max-width: 150px;
          max-height: 130px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          .bz-imageedit {
            max-height: 100%;
            max-width: 100%;
          }
        }
        .bz-actions {
          display: flex;
          flex-direction: column;
          .bzbutton {
            margin-bottom: 8px;
          }
        }
      }
    }
    &.visible {
      transform: scaleX(1);
      transition: transform $bz-edit-icon-duration;
      .image-editor-container {
        transform: scaleY(1);
        transition: transform $bz-edit-icon-duration $bz-edit-icon-duration;
      }
    }
  }
}

.bzadmin-link-edit-container {
  display: inline-flex;
  position: absolute;
  background: blueviolet;
  color: white;
  z-index: 99999;
  border: solid 1px white;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: 1px 2px 5px grey, 1px 2px 10px white;
  cursor: pointer;
  user-select: none;
  transform: scale(0);
  transition: 0.2s;
  &.visible {
    transform: scale(1);
  }
  &:hover {
    z-index: 999999;
    box-shadow: 3px 5px 5px grey, 3px 5px 10px white;
    transform: translateY(-2px);
    transition: 0.2s;
  }
  &.active {
    background: black;
  }
}

.bzadmin-link-edit-container:hover ~ #bz-admin-icon {
  background-color: $bz-edit-icon-backgroundcolor-active;
  transition: background-color $bz-edit-icon-duration;
}
.bzadminpictureactive {
  border: 7px solid blue !important;
  box-shadow: 0 0 5px white !important;
}

.bzlink {
  text-decoration: none;
  cursor: pointer;
  user-select: none;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px gray;
    transition: box-shadow 0.2s, transform 0.2s;
  }
  &:active {
    transform: translateY(0);
    box-shadow: 0px 0px 6px 5px grey;
    transition: box-shadow 0.2s, transform 0.2s;
  }
}

.bzbutton {
  padding: 3px 15px;
  border-radius: 4px;
  color: white;
  transition: box-shadow $bz-edit-icon-duration,
    transform $bz-edit-icon-duration;
  &.bzaccept {
    background-color: #3d893d;
  }
  &.bzcancel {
    background: #ff3535;
  }
  &.bzaccept {
    background-color: #3d893d;
  }
  &.bzcancel {
    background: #ff3535;
  }
  &.bzinfo {
    background: rgb(76, 76, 238);
  }
}
